body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  font-weight: 400;
  background-color: #fff;
}

/* * ====== Global style reset=======*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
/** =================================== */

.container {
  /* width: 1158px; */
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *=======header========= */

.main-header {
  /* padding-top: 25.5px; */
  /* padding-bottom: 25.5px; */
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.div-header {
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid #e7e9fc; */
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-decoration: none;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}
.accent {
  color: #2e2f42;
}

.header-nav-ul {
  display: flex;
  gap: 40px;
}

.address-link {
  display: flex;
  gap: 40px;
  padding: 24px 0 24px 332px;
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  border-bottom: 4px;
  /* opacity: 0; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current:hover::after,
.current:focus::after {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link::before,
.li-strategy-title::after {
  background: #404bbf;
}

.header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contacts-link:hover {
  color: #404bbf;
}
.contacts-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}

.header-nav-ul li:first-child a {
  color: #404bbf;
}

.address-link li:first-child a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link li:nth-child(2) a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* * ============Hero section================ */

.hero-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border: none;
  background-color: #4d5ae5;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  display: block;
  border-radius: 4px;
  height: 56px;
  min-width: 169px;
  margin: 0 auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* *=================Strategy section============ */

.strategy-subtitle {
  padding-top: 96px;
  padding-bottom: 96px;
}

.main-strategy-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}

.li-strategy-title {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.strategy-title {
  /* color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px; */
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.strategy-text {
  /* color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px; */
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.strategy-subtitle-icons {
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99; */
}

/**=============== Section Our team===============*/

.third {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.ul-section-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  /* padding-bottom: 48px; */
}

.li-section-portfolio {
  text-align: left;
  background: #fff;
  width: calc((100% - 48px) / 3);
}

.main-portfolio-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.team-section {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  background-color: #f4f4fd;
  margin-bottom: 72px;
}

.ul-teams-name {
  display: flex;
  gap: 24px;
}

.teams-name {
  background-color: #ffffff;
  color: #fff;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text {
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}

.person-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.person-job {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-bottom: 8px;
}

.icon-social-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.icon-social-li {
  width: 40px;
  height: 40px;
}

.icon-social-person {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.icon-social-person:hover,
.icon-social-person:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**=============== Section Portfolio================= */

.section-main-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.portfolio-category {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  /* margin-top: 8px; */
}

/* ! */

.li-section-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* змінюється стиль transform для параграфа,
            що знаходиться в контейнері з картинкою */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul-section-portfolio:hover {
  transform: translateY(0%);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}
.li-section-portfolio:hover .portfolio-image-text {
  transform: translateY(0);
}

.portfolio-image-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul-section-portfolio .li-section-portfolio:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* *==========Footer================ */

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.accent-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  /* margin-top: 17.5px; */
}

.footer-logo-section {
  margin-right: 120px;
}

.social-links-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.icon-social-footer {
  fill: #f4f4fd;
}

.social-links-list {
  display: flex;
  gap: 16px;
}
.social-link-li {
  width: 40px;
  height: 40px;
}

.footer-links {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.footer-links:hover,
.footer-links:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-footer {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.footer-form-text {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-btn {
  min-width: 165px;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}

.icon-subscribe {
  fill: #ffffff;
  margin-left: 16px;
}

/** ==========Modal window======= */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* позиціонування по центру
  display: flex;
  align-items: center;
  justify-content: center; */
}

.modal {
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  margin-bottom: 8px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: inherit;
  padding-left: 38px;
  /* margin-bottom: 8px; */
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
}

.modal-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: inherit;
  padding: 8px 16px;
  /* margin-bottom: 8px; */
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-text:focus {
  border-color: #4d5ae5;
}

/* backdrop is-open */

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.check-text {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  color: #8e8f99;
  letter-spacing: 0.04em;
  /* display: flex;
  align-items: center; */
}

.check-text a {
  text-decoration-line: underline;
  color: #4d5ae5;
}

.check-span-link {
  display: inline-flex;
}
/* .check-text span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
} */

.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  line-height: 1.17;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-btn:hover,
.check-btn:focus {
  background: #404bbf;
  fill: #ffffff;
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
  .container {
    /* width: 1158px; */
    max-width: 768px;
    /* outline: 2px solid red; */
  }

  .li-strategy-title {
    width: calc((100% - 24px) / 2);
  }

  .main-strategy-title {
    gap: 72px 24px;
  }

  .strategy-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    /* width: 1158px; */
    max-width: 1158px;
    /* outline: 2px solid red; */
  }

  /** ==========Strategy-section==========*/

  .strategy-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .main-strategy-title {
    flex-wrap: nowrap;
  }

  .strategy-subtitle-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
  }

  .strategy-text {
    font-weight: 400;
    letter-spacing: 0.08em;
  }

  /** =============================== */
}
